.Board {
    min-width: 360px;
}

.Grid {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.save-alert {
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.save-alert__hidden {
    color: transparent;
}