.Board {
    min-width: 360px;
    /* max-width: 100vmin; */
}

.Grid {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Alert {
    text-align: center;
    color: green;
    font-size: 12vmin;
    line-height: 15vmin;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate3d(-50%, -50%, 0);
}