@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.Tile {
    flex-basis: calc(100% / 9);
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tile::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.Tile:nth-child(3n):not(:nth-child(9n)){
    border-right: 3px solid #000;
}
  
.Tile:nth-child(n+19):nth-child(-n+27),  
.Tile:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 3px solid #000;
}

.Tile__Input {
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    font-size: 5vmin;
    line-height: 6vmin;
    font-weight: bold;
    background-color: transparent;
    font-family: 'Caveat', cursive;
    color: #111;
}

.Tile__Input:focus {
    outline: none;
}

.Tile--Locked .Tile__Input {
    color: #333;
    font-family: inherit;
    background-color:  #f2f2f2;
    width: 100%;
    height: 100%;
}
.Tile--Correct {
    background-color: #64dd17;
}
.Tile--Wrong {
    background-color: #dd2c00;
}


/* Deleting arrows in HTML5 input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}